body {
    margin: 0;
    padding: 20px;
    font-family: 'inter', sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

#welcomeText {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

#textUnderWelcomeText {
    text-align: center;
    font-size: 1rem;
    color: #8b949e;
    margin-bottom: 30px;
}

#serverCardHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    justify-content: center;
    padding: 0 20px;

    max-width: 1200px;
    margin: 0 auto;
}

.serverCard {
    aspect-ratio: 1 / 1;
    max-width: 300px;
    width: 100%;
    height: auto;

    display:flex;
    flex-direction: column;
    justify-content: space-between;


    background-color:#161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;

    transition: transform 0.2s ease;
}

.serverCard:hover {
    transform: scale(1.03);
}

.serverCard h2 {
    margin-top: 0;
}

.serverLinkButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.serverLinkButtons a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color:#238636;
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.serverLinkButtons a:hover {
    background-color:#2ea043;
}

.serverLinkButtons a img {
    height: 20px;
    width: auto;
}


#addServerButton img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    float: right;
    cursor: pointer;
}